@import (reference) '../../global.less';

.home {
  min-width: 1434px;
  position: relative;
  background-size: 100%;
  background-color: #eff2f3;

  .plate-box-wrapper {
    padding-top: 20px;
    background: #ffffff;
  }
}
