@import (reference) '../../global.less';

.header-box {
  background-color: #ffffff;

  .header {
    .page-wrapper();
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;

    .header-logo {
      display: flex;
      align-items: center;

      a {
        display: flex;
        width: 170px;
        height: 50px;
        align-items: center;
        justify-content: center;
        margin-right: 18px;

        .header-text {
          font-family: XinYeNianTi;
          font-size: 24px;
          color: #01c8f2;
        }

        img {
          width: 100%;
        }
      }
    }

    .menu-box {
      display: flex;
      align-items: center;
      margin-left: 50px;
      ul {
        list-style: none;
        outline: 0;
        padding: 0;
        margin: 0;
        li {
          margin-right: 20px;
          float: left;
        }
      }
    }

    .menu-box ul li a {
      font-size: 18px;
      color: #1f2024;
      padding: 0 20px;

      &:hover {
        position: relative;
        color: #ff5e06;
        font-weight: 600;
      }

      &:hover::after {
        position: absolute;
        content: '';
        display: block;
        margin-top: 5px;
        width: 100%;
        height: 2px;
        border-radius: 1px;
        background-color: #ff5e06;
      }

      &.active {
        color: #ff5e06;
        font-weight: 600;
        position: relative;
      }

      &.active::after {
        position: absolute;
        content: '';
        display: block;
        margin-top: 5px;
        width: 100%;
        height: 2px;
        border-radius: 1px;
        background-color: #ff5e06;
      }
    }
  }
}
